<html>
    <head>
        <title>
           <%= tital %>
        </title>
    
    </head>
   
      <body> 
               <div class="div1">
                   <h3>Pakistan girl phone nambar <%= new Date() %></h3>
                   <a href="/user/users"> Show all User</a>
                  

               </div>
                
              <p>
                Search Premium Number, Information from Trusted Internet Sources. Find All Info You Want. 
                Quick Answers. Useful & Relevant. Explore the Best Info Now.<br> 100+ Unique Results. 
                Find in Seconds. Services: Secure Search, No.1 Answers, Trusted Results, 99% Match
              </p>
              <style>

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}


              input[type=text], select {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
              }
              input[type=text]:hover{
                border: 1px solid rgba(10, 207, 59, 0.801);
              }
              
              .btn{
                width: 100%;
                padding: 12px 20px;
                margin-top: 20px;
               display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                font-size: 22px;
                font-weight: bold;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                background-color: #45a049;
              }
              
              .btn:hover {
                border: 1px solid rgb(8, 8, 8);
              }
              .hd{
                  margin-left:350px;
              }
             .div1 {
                border-radius: 5px;
                background-color: #f2f2f2;
                padding: 20px;
              }
              .div2 {
                width:600px;
                height: 300px;
                border-radius: 5px;
                background-color: #f2f2f2;
                padding: 20px;
              }
             .sms1{
                 margin-left: 40px;
                 color: red;
             }
             .sms2{
                 margin-left: 60px;
                 color: red;
             }
             .sms3{
                 margin-left: 60px;
                 color: red;
             }
              </style>
              <div class="hd">

           
              <div class='div2'>

                <form action='/demo/democreat' method="POST">

                <label>Username</label>

                <span class="sms1"><%= error.name && error.name%> </span>
                <input type="text" name ="name" 
              
                
                value="<%= info.name && info.name %> " maxlength="20" placeholder="Username" >
                <br>
                <label>Email</label>

                <span class="sms2"><%= error.email && error.email %> </span>
                <input type="text" name ="email" placeholder="Email"  value="<%= info.email %> " >
                <br>
                <label>Phone</label>

                <span class="sms3"><%= error.phone && error.phone%> </span>
                <input type="text" name ="phone" placeholder="Phone"  value="<%= info.phone %> "  >
                <p>Password must be Strong with number,upercase and lowercase</p>

                <div>
                  <label for="cars">Blood Group</label>
                <select id="cars" name="blood">
                  <option value="A+">A+</option>
                  <option value="A-">A-</option>
                  <option value="B+">B+</option>
                  <option value="B-">B-</option>
                  <option value="AB+">AB+</option>
                  <option value="AB-">AB-</option>
                  <option value="O+">O+</option>
                  <option value="O-">O-</option>
                </select>
                </div>


                <button class="btn" type="Submit">Submit</button
                
                  </form>

              </div>

            </div>
              


      </body>

</html>